name: Daily Financial Data Update

on:
  schedule:
    - cron: '0 21 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/set-up-python@v4
        with:
          python-version: '3.9'

      # 여기서 yfinance를 직접 설치하도록 명령을 박아버립니다.
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install yfinance pandas gspread oauth2client fredapi

      - name: Run script
        env:
          GSPREAD_JSON: ${{ secrets.GSPREAD_JSON }}
          FRED_API_KEY: ${{ secrets.FRED_API_KEY }}
          SHEET_ID_ASSETS: ${{ secrets.SHEET_ID_ASSETS }}
          SHEET_ID_LIQUID: ${{ secrets.SHEET_ID_LIQUID }}
          SHEET_ID_MACRO: ${{ secrets.SHEET_ID_MACRO }}
        run: python daily_update.py
